<h1>Attività</h1>
<button *ngIf="!showForm" (click)="addBtn()">Aggiungi attività</button>

<table class="table ">
    <thead class="thead-dark ">
    <th>Descrizione</th>
    <th>Data</th>
    <th>Ora inizio</th>
    <th>Ora fine</th>
</thead>
    <tr *ngFor="let item of risultato"  (click)="onClickChangeItem()">
        <td >{{(!showChangeItem)?item.descrizione:""}}   <input [(ngModel)]="item.descrizione" *ngIf="showChangeItem" [value]="item.descrizione"> </td>
        <td>{{(!showChangeItem)?item.data:""}}           <input [(ngModel)]="item.data" *ngIf="showChangeItem" [value]="item.data"></td>
        <td>{{(!showChangeItem)?item.oraInizio:""}}      <input [(ngModel)]="item.oraInizio" *ngIf="showChangeItem" [value]="item.oraInizio"></td>
        <td>{{(!showChangeItem)?item.oraFine:""}}        <input [(ngModel)]="item.oraFine" *ngIf="showChangeItem" [value]="item.oraFine"></td>
        <button class="btn btn-primary" *ngIf="showChangeItem" (click)="itemChange(item)">Cambia</button>
        <button (click)="removeActivities(item.id)" class="btn btn-danger">X</button>
    </tr>
    <tr *ngIf="showForm">
   
        <td><input  [(ngModel)]="newActi.descrizione" type="text" placeholder="Descrizione"></td>
        <td><input [(ngModel)]="newActi.data" placeholder="00/00/00" type="text"></td>
        <td><input [(ngModel)]="newActi.oraInizio" placeholder="00:00" type="text"></td>
        <td><input [(ngModel)]="newActi.oraFine"placeholder="00:00" type="text"></td>
        <button (click)="addNewActivities()">Aggiungi</button><button (click)="addBtn()">Annulla</button>
    
</tr>
</table>